body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 40px 0;
    background-color: hsla(0, 0%, 24%, 0.137);
}

h1 {
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin-bottom: 10px;
    color: #000;
    font-weight: normal;
}

h2 {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin-bottom: 15px;
    color: #000;
    font-weight: bold;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contato {
    color: #000;
    margin-left: 0;
    font-size: 14px;
    line-height: 0.5;
}

.contato a {
    color: #000;
    text-decoration: none;
}

.contato a:hover {
    text-decoration: underline;
}

.objetivo {
    color: #000;
    margin-left: 0;
}

.objetivo p {
    font-size: 14px;
    line-height: 1.4;
    margin: 0;
}

.habilidades {
    color: #000;
    margin-left: 0;
}

.habilidades-grid {
    display: flex;
    gap: 80px;
}

.coluna {
    flex: 1;
}

.coluna p {
    font-size: 14px;
    margin: 0 0 8px 0;
    line-height: 1.2;
}

.Habilidades {
    color: #666;
    margin-left: 20px;
}

.Historico {
    color: #666;
    margin-left: 20px;
}

.formacao {
    color: #000;
    margin-left: 20px;
}

.formacao p {
    font-size: 14px;
    line-height: 1.4;
    margin: 0;
}

hr {
    border: none;
    border-top: 1px solid #000;
    margin: 20px 0;
}

.historico {
    color: #000;
    margin-left: 0;
}

.experiencia {
    margin-bottom: 20px;
}

.cargo-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
}

.cargo-data h3 {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}

.cargo-data .data {
    font-size: 14px;
}

.experiencia h4 {
    font-size: 14px;
    font-weight: normal;
    margin: 0 0 4px 0;
}

.experiencia p {
    font-size: 14px;
    line-height: 1.4;
    margin: 0;
}
